body {
  background: black;
  background-image: url('./assets/background.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content { animation: fadein 0.3s linear; }

.circle, .circle-reverse {
  left: 50%;
  position: absolute;
  top: 50%;
  translate: -50% -50%;
}

.circle { animation: spin 1s linear infinite; }

@keyframes spin {

  from { transform: rotate(0deg); }

  to { transform: rotate(360deg); }
}

@keyframes fadein {

  from { opacity: 0; }

  to { opacity: 1; }
}

.circle-reverse { animation: spin 1s linear infinite reverse; }
